container_commands:
  00download:
    command: "wget http://ec2-downloads.s3.amazonaws.com/cloudwatch-samples/CloudWatchMonitoringScripts-v1.1.0.zip"
    ignoreErrors: true
  01extract:
    command: "unzip CloudWatchMonitoringScripts-v1.1.0.zip"
    ignoreErrors: true
  02rmzip:
    command: "rm CloudWatchMonitoringScripts-v1.1.0.zip"
    ignoreErrors: true
  03cdinto:
    command: "mv aws-scripts-mon/ /home/ec2-user"
    ignoreErrors: true
  04cron:
    command: "crontab -l | { cat; echo '* * * * * /home/ec2-user/aws-scripts-mon/mon-put-instance-data.pl --mem-util --mem-used --mem-avail'; } | crontab -"
    ignoreErrors: false
